.search-form {
  width: 500px;
  height: 40px;

  margin-top: 50px;

  // background: #444;
  background: #22283183;
  border-radius: 4px;
  border: 1px solid #eee;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  animation: pulsate-bck 1s ease-in-out 2 both;

  transition: all 50ms ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    animation-play-state: paused;
  }

  @keyframes pulsate-bck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  input {
    width: 370px;
    padding: 10px 5px;
    float: left;
    color: #eee;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
      background: transparent;
    }
  }

  button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: #eee;
    background: transparent;
    border-left: 1px solid #eee;
    border-radius: 0 3px 3px 0;
    &:hover {
      background: #eee;
      color: #222831;
    }
    &:active {
      box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
    }
    &:focus {
      outline: 0;
    }
  }
}
