@import './common';
@import './search-form';
@import './simple-lightbox';

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-image: url('../images/pixabayLogoBig.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #222831;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: consolas;
}

.gallery {
  position: relative;
  columns: 4 300px;
  // column-gap: 50px;

  margin: 50px 40px;
}

.photo-card {
  position: relative;
  cursor: pointer;
  height: 270px;
  break-inside: avoid-column;

  &__face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
  }

  &__face--up {
    position: relative;
    background: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    z-index: 1;
    transform: translateY(15px);
  }
}

.photo-card:hover .photo-card__face.photo-card__face--up {
  background: #222831;
  transform: translateY(0px);
}

.gallery .photo-card .photo-card__face.photo-card__face--up .info {
  opacity: 0.2;
  transition: 0.5s;
}

.gallery .photo-card:hover .photo-card__face.photo-card__face--up .info {
  opacity: 1;
}

.gallery .photo-card .photo-card__face.photo-card__face--up .info img {
  max-height: 230px;
}

.photo-card__face--dwn {
  position: relative;
  background: #222831;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 6px;

  margin-left: auto;
  margin-right: auto;

  height: 135px;

  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-135px);
}

.gallery .photo-card:hover .photo-card__face.photo-card__face--dwn {
  border-radius: 5px;
  transform: translateY(-70);
}

.gallery .photo-card .photo-card__face.photo-card__face--dwn .info a:hover {
  background: #222831;
  color: #eeeeee;
}

.info {
  display: flex;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;

  font-size: 15px;
  font-weight: 300;
  color: #eeeeee;

  &:not(:last-child) {
    margin-right: 35px;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 40;

  margin-bottom: 5px;
  font-size: 30px;
  // color: #575656;
  color: #eeeeee;
}

.is-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  font-size: 80px;

  text-decoration: none;
  color: #eeeeee79;
  background-color: #fd71133a;
  border-radius: 50%;
  opacity: 0.5;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);

  cursor: pointer;

  animation: pulsate-bck 2.5s ease-in-out infinite both;

  transition: all 250ms ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    animation-play-state: paused;
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
